# General
.DS_Store
.idea/
.vscode/
*.log
*.tmp

# Flutter / Dart
**/frontend/.dart_tool/
**/frontend/.flutter-plugins
**/frontend/.flutter-plugins-dependencies
**/frontend/.packages
**/frontend/.pub-cache/
**/frontend/.pub/
**/frontend/build/
**/frontend/ios/Flutter/.last_build_id
**/frontend/android/.gradle/
**/frontend/android/local.properties

# Laravel / PHP
**/backend/vendor/
**/backend/.env
**/backend/.env.backup
**/backend/storage/framework/cache/*
**/backend/storage/framework/sessions/*
**/backend/storage/framework/views/*
**/backend/storage/logs/*
**/backend/public/storage
**/backend/public/hot
**/backend/.phpunit.result.cache
